.poke-information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-family: 'PokemonGb';
        margin-bottom: 3vw;
    }

    &__subtitle {
        font-family: 'PokemonGb';
        margin-bottom: 1vw;
        font-size: 1.2rem;
    }

    &__image {
        width: 30vw;
    }

    &__image,
    &__info {
        width: 50%;
    }

    &__table {
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 5px;
    }

    &__label {
        font-family: 'PokemonGb';
    }
}