@use "../../scss/colors" as *;

.search-box {

    &__wrapper {
        display: flex;
        margin: 2vh 0;
        position: relative;
    }

    &__input-wrapper {
        width: 15vw;
        height: 4vh;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        position: relative;
        border: 2px solid $color-bright-yellow;

        #search-bar {
            z-index: 2;
        }
    }

    &__search-icon {
        align-self: center;
        position: absolute;
        right: 0.4vw;
        top: 0.4vw;
        color: $color-bright-yellow;
        font-size: 1.2rem;
    }

    &__input {
        position: absolute;
        width: 80%;
        padding: 0.4vw;
        border: none;
        height: 3vh;
        background-color: transparent;
        font-family: 'PokemonGb';
        font-size: 1rem;
        display: flex;

        &:focus-visible {
            outline: none;
        }

        &::-ms-clear {
            display: none;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }

        &::placeholder {
            color: $color-gray;
            font-weight: 600;
        }
    }

    @media (max-width: 1080px) {
        &__input-wrapper {
            width: 100%;
        }
    }

    @media (min-width: 1080px) and (max-width: 1200px) {
        &__input-wrapper {
            width: 50%;
        }
    }
}