@use "../../scss/colors" as *;

.no-content {
    display: flex;
    padding: 1vw;
    border-radius: 5px;
    background-color: $color-white;
    justify-content: center;

    &__result-icon {
        padding-right: 0.2vw;
        color: $color-red;
    }
}
