$color-black: #000;
$color-white: #fff;
$color-light-gray: #ededed;
$color-gray: #c8c8c8;
$color-neutral-gray: #f1f1f1;
$color-light-red: #f2dede;
$color-red: #dc3939;
$color-main-blue: #072ac8;
$color-bright-yellow: #fdd85d;